.eGenie-overlay{
	background: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    min-height: 504px;
    position: absolute;
    right: 10px;
    top: 100px;
    width: 250px;
    z-index: 99999;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.5)
}