/**
 * 	<reset>
 */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/**
 * 	</reset>
 */

.eGenie-overlay{
	background: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    min-height: 504px;
    position: absolute;
    right: 10px;
    top: 122px;
    width: 250px;
    z-index: 99999;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.5)
}

.genie-item-list-wrapper{
	
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    width: 157px;
    margin: 25px auto;
}

.genie-item-list-wrapper .genie-item-list-title{
	
}


.genie-item-list-wrapper .genie-item-list{
	
}

.genie-item-list .genie-item-wrapper{
	width: 152px;
}

.genie-item-wrapper > a.genie-item-wrapper-image-holder{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 9px 9px 9px 9px;
    display: block;
    height: 152px;
    overflow: hidden;
    width: 152px;
   	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.42);
}

.genie-item-wrapper > a.genie-item-wrapper-image-holder img{
	 display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-height: 140px;
    max-width: 140px;
    text-align: center;
    vertical-align: middle;
 }
 
.genie-item-wrapper > a.genie-item-link{
	color: #0654BA;
    display: block;
    font-size: 12px;
    margin-top: 13px;
    text-decoration: none;
 }
 
.genie-item-wrapper > h3 {
	font-size: 12px;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0;
    display: inline-block;
 }
 

.genie-item-wrapper > h3 > a{
 	
 	padding-left: 10px;
 	color: #0654BA;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
 }
 
.genie-item-wrapper > h3 > span{
 	text-decoration: none;
 	padding-left: 20px;
 	font-weight: normal;
 	
 }
 
.genie-mystuff hr{
 	border-top: medium none #666;
    height: 0;
    margin: 21px 0;
    padding: 0;
 }
 


/**
 * < Genie Overlay > 
 */



.ebay-genie-overlay .ebay-genie-button{
	background: url("https://raw.github.com/vaustymenko/eGenie/master/common/css/ebay-genie-collapsed.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 296px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50px;
    width: 49px;
}

.ebay-genie-overlay{
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 9999;
    box-shadow: -4px 11px 7px rgba(215, 215, 215, 0.9);
}

.ebay-genie-overlay.opened .ebay-genie-button{
	background: url("https://raw.github.com/vaustymenko/eGenie/master/common/css/ebay-genie-opened.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    min-height: 700px;
    left: -49px;
    padding: 0;
    position: absolute;
    top: 53px;
    width: 49px;			
}



.ebay-genie-overlay.opened .ebay-genie-overlay-box {
    background: none repeat scroll 0 0 rgba(240,240,240,0.9);
    border: 6px solid rgba(0, 0, 0, 0.34);
    border-radius: 7px 0 0 7px;
    min-height: 800px;
    width: 300px;
    border-right: none;
    display: block;
}

.ebay-genie-overlay .ebay-genie-overlay-box{
	display: none;
}

.ebay-genie-overlay-box > h3{
	color: #666666;
    font: 15px arial;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}

.ebay-genie-overlay-box hr{
	  background: none repeat scroll 0 0 #999999;
	    border-top: medium none #999999;
	    clear: both;
	    height: 2px;
	    margin-top: 22px;
	    padding: 0;
}

.ebay-genie-overlay-plugins{
	margin: 15px;
	
}

.ebay-genie-overlay-plugins button{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

/**
 * </ Genie Overlay >
 */
				